


header.navBarTop nav ul li a {
	font-size: 14px;
	float: left;
	text-decoration: none;
	text-align: center;
	color: #999;
	margin: 2px;
	padding: 10px 12px;
}


header li {
	list-style-type: none;
}

p {
	margin: 20px;
}

h3 {
	text-align: center;
}

#active {
	text-decoration: underline;
}

li a:hover:not(.active) {
  background-color: white;
  color: #ffb84d;
}



.frontPageCaption {
	color: #999;
	padding: 300px 0px;
	padding-bottom: 300px;
	text-align: center;
	font-size: 80px;
}
.boldText {
	background: grey;
	color: #999;
	display: inline-block;
	text-transform: capitalize;
}


table {
	border-collapse: collapse;
	width: 100%;
}


table td img {
	max-height: 80px;
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
td {
	padding-top: 100px;
	padding-bottom: 100px;
}
td p {
	padding: 20px;
}


footer {
	padding: 20px;
	background-color: #999;
	opacity: 0.3;
}

.servicesImageLeft {
	float: left;
}

.servicesImageRight {
	float: left;
}

.col-sm-6 {
	text-align: justify;
}


@media (min-width: 650px) {
	.servicesImageLeft {
		float: left;
		max-height: 200px;
	}
	.servicesImageRight {
		float: right;
		max-height: 200px;
	}
	header.navBarTop nav ul li a {
		font-size: 18px;
		padding: 14px 16px;
	}
}


