$main_colour: #ffb84d;
$text_colour: #999;
$background_colour: #ffffff;


table {
	max-height: 80px;
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;

	td {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	img {

	}

	p {
		padding: 20px;
	}
}




div {
	color: $text_colour;

	.frontPageCaption {
		padding: 300px 0px;
		padding-bottom: 300px;
		text-align: center;
		font-size: 80px;
	}

	.boldText {
		background: grey;
		display: inline-block;
		text-transform: capitalize;
	}

	header.navBarTop nav ul li a {
		font-size: 14px;
		float: left;
		text-decoration: none;
		text-align: center;
		margin: 2px;
		padding: 10px 12px;
	}
}





%servicesImg {

	.servicesImageLeft {
		float: left;
	}

	.servicesImageRight {
		float: right;
	}
}





