$main_colour: #ffb84d;
$text_colour: #999;
$background_colour: #ffffff;
$footer_colour: #999;

%text_style {
	color: $text_colour;
	font-size: 18px;
	font-family: Arial, Helvetica;
	text-align: justify;
}

header li {
	list-style-type: none;
}

header.navBarTop nav ul li a {
	font-size: 14px;
	float: left;
	text-decoration: none;
	text-align: center;
	color: $text_colour;
	margin: 2px;
	padding: 10px 12px;
}

p {
	@extend %text_style;
	margin: 20px;
}

h3 {
	text-align: center;
}

#active {
	text-decoration: underline;
}

li a:hover:not(.active) {
  background-color: $background_colour;
  color: $main_colour;
}

table {
	border-collapse: collapse;
	width: 100%;
}

table {
	max-height: 80px;
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;

	td {
	padding-top: 100px;
	padding-bottom: 100px;
	}

	img {
	}
}

td p {
	padding: 20px;
}

div.frontPageCaption{
	color: $text_colour;
	text-align: center;
	font-size: 80px;
	text-transform: capitalize;

	.boldText {
		color: $main_colour;
		background: $text_colour;
		display: inline-block;
	}
}

.frontPageCaption {
	padding: 300px 0px;
	padding-bottom: 300px;
}



%servicesImg {

	.servicesImageLeft {
		float: left;
	}

	.servicesImageRight {
		float: right;
	}
}



footer {
	padding: 20px;
	background-color: $footer_colour;
	opacity: 0.3;
}


.col-sm-6 {
	text-align: justify;
}




@media (min-width: 650px) {
	.servicesImageLeft {
		float: left;
		max-height: 200px;
	}
	.servicesImageRight {
		float: right;
		max-height: 200px;
	}
	header.navBarTop nav ul li a {
		font-size: 18px;
		padding: 14px 16px;
	}
}


